.header {
  z-index: 50;
}

.logoImage {
  margin-left: -27px;
}

@font-face {
  font-family: Roboto Mono;
  src: url("../assets/RobotoMono-Light.ttf");
}

.placements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 43px;
}

.button {
  display: flex;
}

.chat_text {
  cursor: pointer;
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: Roboto Mono;
}

.buttons {
  display: flex;
  margin: 0rem 1rem 0rem 0rem;
  cursor: pointer;
}

.tabs {
  color: #fff;
  font-family: Roboto Mono;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .tabs {
    display: none;
  }
  .chat {
    display: none;
  }
}

/* @media (min-width: 777px) and (max-width: 1111px) {
  .tabs {
    display: none;
    font-size: 0.5rem;
  }
  .chat {
    font-size: 0.5rem;
  }
} */
